<!DOCTYPE html>
<html>
  <head>
    <title>Polyblogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <h1><%=link_to 'POLYBLOGGER', root_path%></h1>

  </head>

  <body>
    <p class="notice"><%= notice %></p> <%#requested by devise%>
    <%= yield %>
  </body>
</html>
